<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KMB Route Stops</title>
</head>
<body>
    <h1>KMB Route Stops</h1>
    <ul>
        {% for route_stop in data %}
            <li>
                <strong>Route:</strong> {{ route_stop['route'] }} <br>
                <strong>Bound:</strong> {{ route_stop['bound'] }} <br>
                <strong>Service Type:</strong> {{ route_stop['service_type'] }} <br>
                <strong>Stop:</strong> {{ route_stop['stop'] }} <br>
                <a href="/kmb_route_stop_detail/{{ route_stop['route'] }}/{{ route_stop['bound'] }}/{{ route_stop['service_type'] }}">Details</a>
            </li>
            <hr>
        {% endfor %}
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>