<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KMB Stop Detail</title>
</head>
<body>
    <h1>KMB Stop Detail</h1>
    <ul>
        <li>
            <strong>Stop ID:</strong> {{ data['stop'] }} <br>
            <strong>Name (TC):</strong> {{ data['name_tc'] }} <br>
            <strong>Name (EN):</strong> {{ data['name_en'] }} <br>
            <strong>Latitude:</strong> {{ data['lat'] }} <br>
            <strong>Longitude:</strong> {{ data['long'] }} <br>
        </li>
    </ul>
    <a href="/kmb_stops">Back to Stops</a>
</body>
</html>