<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KMB Stops</title>
</head>
<body>
    <h1>KMB Stops</h1>
    <ul>
        {% for stop in data %}
            <li>
                <strong>Stop ID:</strong> {{ stop['stop'] }} <br>
                <strong>Name (TC):</strong> {{ stop['name_tc'] }} <br>
                <strong>Name (EN):</strong> {{ stop['name_en'] }} <br>
                <a href="/kmb_stop_detail/{{ stop['stop'] }}">Details</a>
            </li>
            <hr>
        {% endfor %}
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>